$colorButton: #FF4B4B;
$textColor: #FFFF;

.container {
    width: 1170px;
    margin-left: 330px;
}

.header {
    background-color: #B47FF6;
    width: 1170px;
    height: 148px;
    border-radius: 0px;
    font-family: 'Roboto';
    display: flex;
}

.header__item {
    margin-left: 60px;
    text-decoration: none;
    color: $textColor;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 500;
    margin-top: 63px;
}

.header__item:nth-child(1) {
    margin-left: 155.36px;
    text-decoration: underline;
}

#hamburger {
    opacity: 0;
}

.header__button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 66px;
    left: 1400px;
    width: 43.37px;
    height: 26px;
    z-index: 1;
}

.header__button>span,
.header__button>span::before,
.header__button>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 10px;
    background-color: $textColor;
}

.header__button>span::before {
    content: '';
    top: -12px;
}

.header__button>span::after {
    content: '';
    top: 12px;
}

.header__menu {
    display: block;
    position: absolute;
    visibility: hidden;
    height: 500px;
    width: 411px;
    margin-top: -20px;
    margin-left: 375px;
    background-color: #A6C9FF;
}

.menu__item {
    color: $textColor;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 500;
}

.menu__button {
    margin-top: -18px;
    margin-left: 30px;
}

#hamburger:checked~.header__button>span {
    transform: rotate(25deg);
}

#hamburger:checked~.header__button>span::before {
    top: 0;
    transform: rotate(0);
}

#hamburger:checked~.header__button>span::after {
    top: 0;
    transform: rotate(130deg);
}

#hamburger:checked~.header__menu {
    visibility: visible;
    left: 0;
}

.header__menu a {
    text-decoration: none;
    color: $textColor;
}

li {
    list-style-type: none;
    margin-top: 60px;
    margin-left: 25px;
}

li:nth-child(1) {
    margin-top: 33px;
}

.popupBlock {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupBlock:target {
    visibility: visible;
    opacity: 1;
}

.popup__content {
    background-color: #A6C9FF;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.popup__content p {
    color: $textColor;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 600;
}

.popup__content,
.close__button {
    transition: all 200ms;
    font-style: normal;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
    color: $textColor;
}

.popup__close {
    height: 39px;
    width: 43px;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: -330px;
    margin-left: -60px;
    background-color: #497957;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #A6C9FF;
    color: $textColor;
    width: 1170px;
    font-family: 'Roboto';
    text-align: center;
}

.main__topBlock {
    height: 40px;
    background-color: #A6C9FF;
}

.h1 {
    background-color: #7029CB;
    height: 176px;
    display: flex;
    align-items: center;
}

.h1 img:nth-child(1) {
    margin-left: 50.75px;
}

.h1 h1 {
    width: 158px;
    font-family: 'Roboto';
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 217px;
}

.h1 button {
    margin-left: 35px;
    box-sizing: border-box;
    margin-top: -15px;
}

.h1 img {
    margin-left: 321.68px;
}

.h1__button,
.main__button,
.menu__button {
    background-color: $colorButton;
    width: 262px;
    height: 58px;
    border-radius: 25px;
    border: 1px solid $colorButton;
}

.button__link {
    font-family: 'Roboto';
    color: $textColor;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

.main__h2-1 {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.main__greenBlocks {
    display: grid;
    grid-template-rows: 198px 198px;
    grid-template-columns: 392px 589px 162px;
    column-gap: 13px;
    row-gap: 13px;
}

.main__greenBlocks div {
    background-color: #3ADE4B;
    font-size: 53px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__block1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.main__block1 p::before {
    content: "1";
}

.main__block2 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.main__block2 p::before {
    content: "2";
}

.main__block3 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.main__block3 p::before {
    content: "3";
}

.main__block4 p::before {
    content: "4";
}

.main__h2-2 {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 3px;
}

.main__bottomBlock {
    background-color: #D4FF5A;
    height: 248px;
    width: 1120px;
    border-radius: 30px;
    padding: 25px;
    box-sizing: border-box;
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    column-gap: 20px;
}

.bottomBlock-block {
    height: 0px;
    width: 100%;
    padding-top: 100%;
    border-radius: 35px;
    border: 2px solid #00FF4A;
    background: linear-gradient(0deg, #497957, #497957);
}

.bottomBlock-block:nth-child(1) {
    box-shadow: 2px 5px 10px 0px #497957;
}

.main__textUtp {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 500;
    padding-top: 40px;
    height: 192px;
    box-sizing: border-box;
}

.main__textUtp button {
    margin-top: 20px;
}

.footer {
    background-color: #D87FF6;
    width: 1170px;
    height: 100px;
    color: $textColor;
    font-family: 'Roboto';
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 29.5px;
}

.footer div {
    margin-left: 176px;
    font-size: 28px;
    font-weight: 500;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 100%;
        margin-left: 0;
    }

    .header {
        width: 100%;
    }

    .h1 h1 {
        margin-left: 10px;
        font-size: 30px;
        font-weight: 400;
        width: 100px;
        margin-left: 70px;
    }

    .header__button {
        left: 70%;
    }


    .h1 img {
        margin-left: 120px;
    }

    .h1__button {
        margin-left: 100px;
    }

    .main {
        width: 100%;
    }

    .main__topBlock {
        width: 100%;
    }

    .main__greenBlocks {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 13px;
    }

    .main__block1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .main__block2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .main__block3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .main__block4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .main__bottomBlock {
        width: 100%;
        height: 50%;
        column-gap: 5px;
        padding: 25px;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        margin-left: 0px;
    }

    .footer {
        width: 100%;
    }

    .footer div {
        margin-left: 100px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {

    .container {
        width: 100%;
        margin-left: 0;
    }

    .header {
        width: 100%;
    }

    .header__item {
        margin-left: 20px;
        margin-top: 63px;
    }

    .header__item:nth-child(1) {
        margin-left: 50px;
        margin-top: 63px;
    }

    .header__button {
        left: 80%;
    }

    .header__menu {
        width: 350px;
        margin-top: -20px;
        margin-left: 0px;
    }

    .popupBlock {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 10px;
        background: rgba(0, 0, 0, 0.3);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup__content {
        background-color: #A6C9FF;
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .h1 img:nth-child(1) {
        margin-left: 10px;
    }

    .h1 h1 {
        margin-left: 10px;
        font-size: 30px;
        font-weight: 400;
        width: 95px;
    }

    .h1 button {
        margin-left: 5px;
        box-sizing: border-box;
    }

    .h1 img {
        margin-left: 10px;
    }

    .h1__button,
    .main__button,
    .menu__button {
        background-color: $colorButton;
        border-radius: 25px;
        border: 1px solid $colorButton;
        font-size: 14px;
    }

    .main {
        width: 100%;
    }

    .main__topBlock {
        width: 100%;
    }

    .main__greenBlocks {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 13px;
    }

    .main__block1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .main__block2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .main__block3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .main__block4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .main__bottomBlock {
        width: 100%;
        height: 50%;
        column-gap: 5px;
        padding: 5px;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        margin-left: 0px;
    }

    .footer {
        width: 100%;
    }

    .footer div {
        margin-left: 20px;
    }
}