.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1920px;
}

.header {
  background-color: #B47FF6;
  width: 1170px;
  height: 148px;
  border-radius: 0px;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin-left: 60px;
  text-decoration: none;
  color: #FFFF;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
}

.header__item:nth-child(1) {
  margin-left: 155.36px;
  text-decoration: underline;
}

#hamburger {
  opacity: 0;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 66px;
  left: 1401px;
  width: 43.37px;
  height: 26px;
  z-index: 1;
}

.header__button > span,
.header__button > span::before,
.header__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFF;
}

.header__button > span::before {
  content: '';
  top: -8px;
}

.header__button > span::after {
  content: '';
  top: 8px;
}

.header__menu {
  display: block;
  position: absolute;
  visibility: hidden;
  height: 500px;
  width: 411px;
  margin-top: -85px;
  margin-left: 375px;
  background-color: #A6C9FF;
}

.menu__item {
  color: #FFFF;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
}

#hamburger:checked ~ .header__button > span {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

#hamburger:checked ~ .header__button > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#hamburger:checked ~ .header__button > span::after {
  top: 0;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

#hamburger:checked ~ .header__menu {
  visibility: visible;
  left: 0;
}

.header__menu a {
  text-decoration: none;
  color: #FFFF;
}

li {
  list-style-type: none;
  margin-top: 39px;
  margin-left: 64.5px;
}

li:nth-child(1) {
  margin-top: 33px;
}

.main {
  background-color: #A6C9FF;
  color: #FFFF;
  width: 1170px;
  font-family: 'Roboto';
  text-align: center;
}

.main__topBlock {
  height: 40px;
  background-color: #A6C9FF;
}

.h1 {
  background-color: #7029CB;
  height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1 img:nth-child(1) {
  margin-left: 50.75px;
}

.h1 h1 {
  margin-left: 220.19px;
  width: 158px;
}

.h1 button {
  margin-left: 32px;
}

.h1 img {
  margin-left: 321.68px;
}

.h1__button,
.main__button,
.menu__button {
  background-color: #FF4B4B;
  width: 262px;
  height: 58px;
  border-radius: 25px;
  color: #FFFF;
  border: 1px solid #FF4B4B;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 400;
}

.menu__button {
  margin-top: 55px;
}

.main__h2-1 {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__greenBlocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 198px 198px;
      grid-template-rows: 198px 198px;
  -ms-grid-columns: 392px 589px 162px;
      grid-template-columns: 392px 589px 162px;
  -webkit-column-gap: 13px;
          column-gap: 13px;
  row-gap: 13px;
}

.main__greenBlocks div {
  background-color: #3ADE4B;
  font-size: 53px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__block1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main__block1 p::before {
  content: "1";
}

.main__block2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main__block2 p::before {
  content: "2";
}

.main__block3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.main__block3 p::before {
  content: "3";
}

.main__block4 p::before {
  content: "4";
}

.main__h2-2 {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__bottomBlock {
  background-color: #D4FF5A;
  height: 248px;
  width: 1120px;
  border-radius: 30px;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.bottomBlock-block {
  height: 0px;
  width: 100%;
  padding-top: 100%;
  border-radius: 35px;
  border: 2px solid #00FF4A;
  background: -webkit-gradient(linear, left bottom, left top, from(#497957), to(#497957));
  background: linear-gradient(0deg, #497957, #497957);
}

.bottomBlock-block:nth-child(1) {
  -webkit-box-shadow: 2px 5px 10px 0px #497957;
          box-shadow: 2px 5px 10px 0px #497957;
}

.main__textUtp {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
  padding-top: 40px;
  height: 192px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__textUtp button {
  margin-top: 9px;
}

.footer {
  background-color: #D87FF6;
  width: 1170px;
  height: 100px;
  color: #FFFF;
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29.5px;
}

.footer div {
  margin-left: 175px;
  font-size: 28px;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */